@import '../../base_styles/utils/extends';
@import '../../base_styles/utils/variables';
@import '../../base_styles/utils/mixins';

.nav__link {
  display: block;

  @extend %UppercaseText;

  text-decoration: none;
  color: $secondaryColor;

  transition: color $transitionSettings;

  &:hover {
    color: $primaryColor;
  }

  @include onTablet {
    display: block;
    padding: 18.5px 0;
  }

  @include onDesktop {
    display: block;
    padding: 26.5px 0;
  }

  &.active {
    position: relative;

    color: $primaryColor;

    &::after {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;

      content: "";
      display: block;
      height: 3px;

      background-color: $primaryColor;
    }
  }
}
