@import '../../base_styles/utils/variables';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow: 0 1px 0 $elementsColor;

  &__logo {
    margin-left: 24px;
    margin-right: 48px;

    width: 80px;
  }
}
