@import '../../base_styles/utils/extends';
@import '../../base_styles/utils/variables';
@import '../../base_styles/utils/mixins';

.loginPage {
  padding: 24px 0;
  
  @include onTablet {
    padding: 40px 0;
  }

  &__title {
    margin-bottom: 16px;

    @extend %H1Text;

    color: $primaryColor;
  }

  &__text {
    @extend %H3Text;

    color: $primaryColor;
  }
}
