@import './base_styles/index.scss';

.App {
}

.container {
  margin: 0 auto;
  padding: 0 16px;

  @include onTablet {
    padding: 0 24px;
  }

  @include onDesktop {
    max-width: 1200px;
    padding: 0 32px;
  }
}

